includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Nível de análise de 0 a 9 (quanto maior, mais estrito)
    level: 5
